deb http://deb.debian.org/debian/ {{ ansible_distribution_release|lower }} main non-free contrib
deb-src http://deb.debian.org/debian/ {{ ansible_distribution_release|lower }} main non-free contrib

deb http://security.debian.org/debian-security {{ ansible_distribution_release|lower }}/updates main contrib non-free
deb-src http://security.debian.org/debian-security {{ ansible_distribution_release|lower }}/updates main contrib non-free

# {{ ansible_distribution_release|lower }}-updates, previously known as 'volatile'
deb http://deb.debian.org/debian/ {{ ansible_distribution_release|lower }}-updates main contrib non-free
deb-src http://deb.debian.org/debian/ {{ ansible_distribution_release|lower }}-updates main contrib non-free

# {{ ansible_distribution_release|lower }}-backports, previously on backports.debian.org
deb http://deb.debian.org/debian/ {{ ansible_distribution_release|lower }}-backports main contrib non-free
deb-src http://deb.debian.org/debian/ {{ ansible_distribution_release|lower }}-backports main contrib non-free
