{
  "disable_mlock": true,
	"storage": {
		"consul": {
			"address": "{{ ansible_host }}:{{ consul_port }}",
			"advertise_addr": "http://{{ ansible_host }}:{{ vault_port }}",
			"path": "vault",
			"token": "{{ consul_acl_master_token }}",
			"default_lease_ttl": "{{ default_lease_ttl }}",
			"max_lease_ttl": "{{ max_lease_ttl }}",
		}
	},
	"ui": "{{ vault_ui }}",
	"listener": {
		"tcp": {
			"address": "0.0.0.0:8200",
			"tls_disable": 1
		}
	}
}
