[program:app]
command={{ app_path }}/shared/start_app
directory={{ app_path }}/app
user={{ app_user }}
autostart=true
autorestart=true
stdout_logfile={{ app_path }}/logs/app.stdout.log
stderr_logfile={{ app_path }}/logs/app.stderr.log
